version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - tests
skip_tags: true
max_jobs: 5
image:
- Visual Studio 2015
- Previous Visual Studio 2013
- Visual Studio 2015
- Visual Studio 2017
- Visual Studio 2019 Preview
init:
- cmd: >-
    if "%APPVEYOR_JOB_NUMBER%"=="1" (call "C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\Tools\vsvars32.bat") else if "%APPVEYOR_JOB_NUMBER%"=="2" (call "C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\Tools\vsvars32.bat") else if "%APPVEYOR_JOB_NUMBER%"=="3" (call "C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\Tools\vsvars32.bat") else if "%APPVEYOR_JOB_NUMBER%"=="4" (call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\Tools\vsvars32.bat") else (call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\VC\Auxiliary\Build\vcvars32.bat")


    set LIB=%LIB%C:\Program Files (x86)\Windows Kits\8.1\Lib\winv6.3\um\x86\;
install:
- cmd: >-
    git submodule update --init --recursive

    git submodule update --recursive
build_script:
- cmd: >-
    cd stdex

    build_lib.bat

    cd ..

    build_tests.bat
test_script:
- cmd: run_tests.bat
artifacts:
- path: .\stdex\lib
  name: static library
- path: .\stdex\include
  name: library headers